#boton:hover{ /* Pasar raton por encima */
    color:white;
    background-color: greenyellow;

}

#boton::before{
    content: "Pasa por encima!";
}

#boton::selection {
    content:"Hecho";
}